<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Register Here</title>
  <link rel="stylesheet" href="/style/style.css">

</head>
<body>


Welcome to My System<br/>

Login here:<a href="/login">Login</a><br/>
Register here:<a href="/register">Register</a>

</body>
</html>